<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CRM Application Test Suit">

<listeners>
		<listener class-name="com.crm.qa.Listener.TestngListener" />
</listeners>
 
<test name="Regression Test">

	
	<classes> 
		<class name="com.crm.qa.testcases.LoginPageTest"> </class>
	</classes>
	

</test>
</suite>
